
.bg-image {
    background-image: url('https://wallpapercave.com/wp/wp13555708.jpg'); 
    background-size: cover;
    background-position: center;
  }
  
  .card {
    background-color: rgba(0, 0, 0, 0.7); 
  }
  
  .custom-btn {
    color: white; 
    font-size: 1.25rem; 
    padding: 10px 20px; 
    border: none; 
    transition: transform 0.2s, box-shadow 0.2s; 
  }
  
  .custom-btn:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  
  .custom-btn.btn-brown {
    background-color: #8B4513;
  }
  
  .custom-btn.btn-brown:hover {
    background-color: #A0522D; 
  }
  
  .custom-btn.btn-black {
    background-color: #000; 
  }
  
  .custom-btn.btn-black:hover {
    background-color: #222; 
  }
  
  .custom-btn.btn-dark {
    background-color: #343a40; 
  }
  
  .custom-btn.btn-dark:hover {
    background-color: #495057; 
  }
  