
.movie-management-container {
  background-image: url('https://wallpapercave.com/wp/wp13555708.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff; 
  font-size: 1.2rem; 
}

.movie-card {
  background-color: #998678; 
  color: #000000; 
  padding: 1rem; 
  margin-bottom: 1rem; 
  border-radius: 10px; 
}
.bg-brown-transparent {
  background-color: rgba(12, 12, 11, 0.8); 
}


.movie-card h3 {
  font-size: 1.8rem; 
  text-align: center; 
}

.movie-card p {
  margin-bottom: 0.5rem; 
}


.movie-action-btn {
  color: #ffffff; 
  font-size: 1.2rem; 
  transition: background-color 0.3s ease; 
}

.movie-action-btn:hover {
  opacity: 0.8; 
}

.btn-danger {
  background-color: #2f2828; 
  border-color: #a59597; 
}

.btn-danger:hover {
  background-color: #191917; 
  border-color: #4f533a; 
}
.bg-black {
  background-color: #000; 
}

.btn-brown {
  background-color: #7B5D4A; 
  color: #fff; 
  border-color: #7B5D4A; 
}

.btn-brown:hover {
  background-color: #684b39; 
  border-color: #684b39; 
}

.text-grey {
  color: #ccc; 
}
.justify-content-center {
  justify-content: center;
}
