/* styles.css or styles.scss */

/* Global styles for the movie management container */
.movie-management-container {
  background-image: url('https://wallpapercave.com/wp/wp13555708.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff; /* Text color for the entire page */
  font-size: 1.2rem; /* Increase overall font size */
}

/* Styles for movie cards */
.movie-card {
  background-color: #998678; /* Brown background color */
  color: #000000; /* Black text color */
  padding: 1rem; /* Padding around the card */
  margin-bottom: 1rem; /* Bottom margin between cards */
  border-radius: 10px; /* Rounded corners for the card */
}
.bg-brown-transparent {
  background-color: rgba(12, 12, 11, 0.8); /* Brown color with opacity */
}


.movie-card h3 {
  font-size: 1.8rem; /* Larger font size for movie name */
  text-align: center; /* Center align movie name */
}

.movie-card p {
  margin-bottom: 0.5rem; /* Adjust margin between paragraphs */
}

/* Button styles */
.movie-action-btn {
  color: #ffffff; /* White text color */
  font-size: 1.2rem; /* Increase button text size */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.movie-action-btn:hover {
  opacity: 0.8; /* Reduce opacity on hover for a subtle effect */
}

.btn-danger {
  background-color: #2f2828; /* Red background color for delete button */
  border-color: #a59597; /* Red border color for delete button */
}

.btn-danger:hover {
  background-color: #191917; /* Darker red on hover for delete button */
  border-color: #4f533a; /* Darker red border on hover for delete button */
}
.bg-black {
  background-color: #000; /* Black background */
}

.btn-brown {
  background-color: #7B5D4A; /* Brown button */
  color: #fff; /* White text */
  border-color: #7B5D4A; /* Brown border color */
}

.btn-brown:hover {
  background-color: #684b39; /* Darker brown on hover */
  border-color: #684b39; /* Darker border color on hover */
}

.text-grey {
  color: #ccc; /* Grey text */
}
.justify-content-center {
  justify-content: center;
}
